---
import Layout from '../layouts/MainLayout.astro';
---

<Layout title="Welcome to Astro.">
    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <div class="d-flex flex-column flex-column-fluid">
            <h1>Ini Halaman Transaksi</h1>
        </div>
    </div>
</Layout>
