---
interface Props {
	title: string;
}

const { title } = Astro.props;
import ExternalScript from "../components/ExternalScript.astro";
import Sidebar from "../components/organisms/Sidebar.astro";
import Navbar from "../components/organisms/Navbar.astro";
import "../assets/css/style.bundle.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body id="kt_app_body" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
        <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
            <!--begin::Page-->
            <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
                <!-- navbar -->
                <Navbar />
                <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                    <Sidebar />
                    <slot />
                </div>
            </div>
            <!--end::Page-->
        </div>
	</body>
</html>
